/* Common Sheared Style  */
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.text-size {
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}

.medium-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}
.center {
  text-align: center;
}

/* Header Style  */

header {
  max-width: 2100px;
  display: block;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 180px;
}
.navbar > ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navbar > ul li {
  list-style: none;
}
.navbar > ul li a {
  text-decoration: none;
}
.nav-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-button {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: none;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 1.5rem;
}
.nav-button p {
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}
.nav-button i {
  font-size: 1.25rem;
}

.letter-g {
  color: #ff42a5;
}

/* Banner Style  */

.banner {
  background: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.banner-column-1 {
  padding: 80px 0 60px 180px;
}

.play-like-text {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.goat {
  font-size: 5.9rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goat-text {
  display: inline-block;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 18px;
}

.banner-column-1 {
  display: inline-flex;
  flex-direction: column;
}
.banner-column-2 img {
  width: 80%;
}

.btn-container {
  display: inline-flex;
  gap: 20px;
}
.sign-in-btn {
  background: #ff42a5;
  border: 0;
  border-radius: 48px;
  padding: 21px 40px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.go-rouge-btn {
  background: #4ec5f7;
  border: 0;
  border-radius: 48px;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* ------------ Online Games Funny Videos Style ---------------- */

.online-games {
  display: block;
  margin: 0 auto;
}
.online-games-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 80px 0 30px 0;
}

.online-games-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

.funny-videos-container {
  margin: 50px 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.funny-videos {
  display: flex;
  flex-direction: column;
}
.funny-videos p {
  color: #534c64;
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}
.funny-videos img {
  width: 100%;
}

/*-------------------- Overlay Style----------------------------------  */

.box-content-title {
  font-size: 1rem;
  font-weight: 600;
  color: #ff42a5;
}

.box-content i {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 10px;
}

.box {
  position: relative;
}
.box-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.box:hover .box-content {
  opacity: 1;
  top: 50%;
}

.box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 1;
  border: 0;
  transition: all 0.2 ease-in;
}
.box:hover::after {
  opacity: 1;
  border: 5px solid #ff42a5;
  border-radius: 10px;
}

/* Play Instantly Style  */

.play-instantly {
  margin: 50px 200px;
  gap: 30px;
}

.play-instantly-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.play-instantly-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
}
.play-instantly-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instantly-description {
  color: #534c64;
  text-align: right;
  font-size: 1.12rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
.play-instantly-column-1 {
  width: 90%;
  margin-right: 20px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-instantly-column-2 img {
  width: 100%;
}
#doll {
  width: 50%;
  position: relative;
  right: 25%;
  bottom: 25%;
}

/* Card Section  */
.card-1 {
  grid-area: button-1;
}
.card-2 {
  grid-area: button-2;
}
.card-3 {
  grid-area: button-3;
}
.card-4 {
  grid-area: button-4;
}
.card-5 {
  grid-area: button-5;
}
.card-6 {
  grid-area: button-6;
}
.card-7 {
  grid-area: button-7;
}
.card-8 {
  grid-area: button-8;
}
.card-9 {
  grid-area: button-9;
}

.card-container {
  margin: 0 100px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "button-1 button-1 button-2 button-2 button-3 button-3 button-4 button-4 button-5 button-5"
    ". button-6 button-6 button-7 button-7 button-8 button-8 button-9 button-9 .";
}
.card {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px 10px;
  color: #0b0223;
}
.card:hover.card p {
  padding: 5px 10px;
  border: 1px solid #ff42a5;
  border-radius: 50px;
  color: #ff42a5;
}

.card-name {
  color: #0b0223;
  font-size: 1.12rem;
  font-weight: 500;
}

/* ------Footer Style ------ */

.footer {
  background: #0b0223;
  margin-top: 100px;
}

.footer-icon {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.footer-title {
  color: #fff;
}

.social-icon {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.social-icon li {
  list-style: none;
}
.social-icon li i {
  font-size: 2rem;
}
.footer-menu {
  display: inline-flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer-menu h5 {
  color: #fff;
  font-size: 1.12rem;
  font-weight: 600;
}

.footer-term {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-end {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 30px;
}

/* ------------------------------------------------------------------------- */

/* Responsive Style  */

@media screen and (max-width: 576px) {
  .navbar,
  .navbar > ul {
    flex-direction: column;
    justify-content: center;
  }
  .nav-icon {
    justify-content: center;
  }
  .navbar > ul {
    margin-top: 20px;
  }
  .navbar {
    padding: 20px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-column-1 {
    padding: 0 0 0 20px;
  }

  .sign-in-btn,
  .go-rouge-btn {
    background: #ff42a5;
    border: 0;
    border-radius: 48px;
    padding: 15px 20px;
    font-size: 1rem;
  }

  .goat {
    font-size: 4.5rem;
  }
  .play-like-text {
    font-size: 2.2rem;
  }

  .banner-column-2 img {
    width: 80%;
    margin: 0 20px;
  }
  .funny-videos-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    padding: 20px;
  }

  .play-instantly {
    margin: 0;
  }

  .play-instantly-container {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .play-instantly-column-1 {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .play-instantly-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 20px;
  }
  #horse {
    width: 100%;
  }

  #doll {
    position: relative;
    right: 105px;
    bottom: 80px;
  }

  .play-instantly-title {
    text-align: center;
    font-size: 2.2rem;
  }

  .play-instantly-description {
    text-align: center;
    font-size: 1rem;
  }

  .card-container {
    width: 90%;
    margin: 5px;
    padding: 10px;
    gap: 5px;
    grid-template-areas:
      "button-1 button-2 button-3"
      "button-4 button-5 button-6"
      "button-7 button-8 button-9";
  }
  .card img {
    height: 60%;
    width: 25%;
  }
  .card-name {
    font-size: 0.5rem;
  }

  .footer-menu,
  .footer-term {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-term {
    margin-bottom: 40px;
  }

  .footer-end {
    font-size: 0.8rem;
  }
}

/* Medium Device Style  */

@media screen and (min-width: 576px) and (max-width: 960px) {
  .navbar,
  .navbar > ul {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
  }
  .navbar > ul {
    margin-top: 20px;
  }

  .nav-icon {
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-column-1 {
    display: block;
    padding: 0 auto;
  }
  .banner-column-2 {
    padding: 20px;
  }
  .funny-videos-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding: 50px;
  }
  .play-instantly {
    margin: 50px;
  }
  .play-instantly-container {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .play-instantly-title,
  .play-instantly-description {
    text-align: center;
  }

  .play-instantly-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 20px;
  }
  #doll {
    position: relative;
    right: 260px;
    bottom: 160px;
  }

  .card-container {
    width: 90%;
    margin: 5px;
    padding: 10px;
    gap: 5px;
    grid-template-areas:
      "button-1 button-2 button-3"
      "button-4 button-5 button-6"
      "button-7 button-8 button-9";
  }
  .card {
    display: inline-flex;
    gap: 10px;
    padding: 5px 5px;
  }
  .card img {
    height: 60%;
    width: 30%;
  }

  .card-name {
    font-size: 0.8rem;
  }

  .footer-menu,
  .footer-term {
    gap: 35px;
  }
}

/* ------ 1024p device------ */
@media screen and (min-width: 960px) and (max-width: 1100px) {
  .navbar {
    padding: 30px 100px;
  }

  .banner .banner-column-1 {
    padding: 20px 20px 20px 50px;
  }

  .banner-column-2 img {
    padding: 20px 0 20px 50px;
    width: 80%;
  }
  .sign-in-btn,
  .go-rouge-btn {
    background: #ff42a5;
    border: 0;
    border-radius: 48px;
    padding: 15px 20px;
    font-size: 1rem;
  }
  .funny-videos-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    padding: 100px;
  }

  .play-instantly {
    margin: 0 100px;
  }

  .play-instantly-title {
    font-size: 2.2rem;
  }

  .card-container {
    margin: 50px;
    gap: 20px;
  }

  .card {
    gap: 8px;
    align-items: center;
  }

  .card-name {
    font-size: 1rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  #doll {
    right: 140px;
    bottom: 100px;
  }
}
@media screen and (min-width: 1900px) and (max-width: 2600px) {
  header {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .navbar {
    padding: 30px 260px 30px 350px;
  }

  .banner {
    gap: 450px;
  }
  .play-instantly-container {
    gap: 200px;
  }
  .play-instantly-column-1 {
    width: 50%;
  }
}
